{% extends 'base_cadastro.html' %}

{% block title %} Cadastrar Admin {% endblock %}

{% block forms%}
    <form action="{{form_action}}" method="POST">

        {% csrf_token %}

        <h2> Cadastrar admin </h2>

        <div class="input-data">
            <input type="text" name="nome" required>
            <div class="underline"></div>
            <label>Nome:</label>
        </div>

        <div class="input-data">
            <input type="text" name="email" required>
            <div class="underline"></div>
            <label>E-mail:</label>
        </div>
        
        <div class="input-data">
            <input type="text" name="senha" required>
            <div class="underline"></div>
            <label>Senha:</label>
        </div>


        <button type="submit"> Cadastrar </button>
    </form>

{% endblock %}