{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %} base falta e turma {% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "turmas.css" %}">
    </head>
    <body>

        {% block listagem %}
            {% block turmas %}
               
            {% endblock turmas %}

            <form action="{{form_action}}" method="POST">
                {% csrf_token %}


                {% block conteudo_form %}
                    
                {% endblock conteudo_form %}
                    <button type="submit">Enviar</button>
            </form>
        {% endblock listagem %}

        <script src="{% static "app.js" %}" async defer></script>
    </body>
</html>